/*----------------------------------
Title Section - Potrait (Mobile)
----------------------------------*/

@media (min-height: 480px) and (min-width: 320px) {
    .title-text p {
        font-size: 30px;
    }

    .motd p {
        font-size: 20px;
    }

    #title-text {
        margin-top: 100px;
    }
}

@media (min-height: 640px) and (min-width: 360px) {

    #title-text {
        margin-top: 130px;
    }

    .menu-items a {
        line-height: 2.5em;
    }
}

@media (min-height: 730px) and (min-width: 410px) {
    .title-text p {
        font-size: 35px;
    }

    .motd p {
        font-size: 25px;
    }

    .motd {
        margin-top: 40px;
    }
}

@media (min-height: 730px) and (min-width: 500px) {
    .menu-items a {
        line-height: 3em;
        font-size: 25px;
    }
}

@media (min-height: 810px) and (min-width: 375px) {
    .title-text p {
        font-size: 35px;
    }

    .motd p {
        font-size: 25px;
    }

    #title-text {
        margin-top: 160px;
    }
}

/*----------------------------------
Title Section - Potrait (Tablet)
----------------------------------*/

@media (min-height: 1000px) and (min-width: 760px) {
    .title-text p {
        font-size: 50px;
    }

    .motd p {
        font-size: 35px;
    }

    #title-text {
        margin-top: 180px;
    }
}